Flask==0.12
Flask-Ask==0.8.3
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.12
Werkzeug==0.11.13
aniso8601==1.2.0
argparse==1.2.1
cffi==1.9.1
click==6.6
cryptography==1.2.1
enum34==1.1.6
idna==2.2
ipaddress==1.0.17
itsdangerous==0.24
pyOpenSSL==0.14
pyasn1==0.1.9
pycparser==2.17
python-dateutil==2.6.0
six==1.10.0
wsgiref==0.1.2
gunicorn==19.6.0
